
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to the Customer Portal!</h1>



<h5>To create new Customer Profile, please select "Create Profile".</h5>
<div>
    <a asp-action="Create">Create Profile</a>
</div>
<h5>To edit existing Customer schedule, please select "Edit Profile".</h5>
<div>
    <a asp-action="Edit">Edit Profile</a>
</div>
<h5>To view Account Balance, please select "Balance".</h5>
<div>
    <a asp-action="Details">Balance</a>
</div>

